<html>
<head>
<title>{{ keyword }} - waguwagu-daum blog search</title>
</head>
<body>
   <center>
   	   <table boarder=1 width="800">
   	   	   <tr>
   	   	   	   <td width="160"><img src="/images/small_log.jpg"/></td>
   	   	   	   <td align="center"><br>{% include 'query.html' %}</td>
   	   	  </tr>
   	   	  
   	   	  <tr>
   	   	     <td colspan=2></td>
   	   	  <tr>
   	   	  <tr>
   	   	     <td colspan=2>{% include 'list.html' %}</td>
   	   	  <tr>
   	   	  <tr>
   	   	     <td colspan=2>&nbsp;</td>
   	   	  <tr>
   	   	  <tr>
   	   	     <td colspan=2 align="center">{% include 'navigator.html' %}</td>
   	   	  <tr>
   	   	<table>
  </center>
</body>
</html>
